/****************** CSS RESET BEGIN *********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
footer, header, hgroup,
menu, nav,  summary {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/****************** CSS RESET END *********************************************/
html {
  min-height: 100%;
  background-color: #202328;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
